@font-face {
	font-family: 'starwars';
	src: url('../Cockpit/star_jedi/starjedi/SfDistantGalaxy-0l3d.ttf');
}

.feat {
	color: white;
	font-family: 'starwars';
	font-size: 2rem;
	vertical-align: middle;
}

.nasa_logo {
	width: 12rem;
	height: 6rem;
}

.signature {
	width: 12rem;
	height: 6rem;
	vertical-align: middle;
	/* margin: -5rem; */
}

.header {
	display: flex;
	max-width: 100%;
	padding-bottom: 1.5rem;
	justify-content: center;
}
