@font-face {
	font-family: 'starwars';
	src: url('./star_jedi/starjedi/SfDistantGalaxy-0l3d.ttf');
}

@font-face {
	font-family: 'starwars2';
	src: url('./star_jedi/stjedise/STJEDISE.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body {
	width: auto;
	background-color: black;
}

.space_image {
	width: 100%;
	padding: 1rem 0;
}

#date {
	width: auto;
	border-radius: 3rem;
	border: 0.8rem solid white;

	font-family: starwars;

	text-align: center;
}

h1 {
	font-family: 'starwars';
	text-align: left;
	color: blanchedalmond;
	font-size: 2rem;
}

.explanation,
.author {
	font-family: 'Mate SC', serif;
	color: white;
	text-align: justify;
}

.date_input {
	display: flex;
	justify-content: center;
}

.skyrocket_left,
.skyrocket_right {
	width: 7rem;
	height: 7rem;
}

.skyrocket_left {
	transform: rotate(-90deg);
}

.skyrocket_right {
	transform: rotate(90deg);
}
